body {
    background-color: white;
    height: 100%;
    margin: 0;


}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}




.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.menuen {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .nav a {
        font-size: 20px
    }
    .nav .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
