body {
    background-color: white;
    height: 100%;
    margin: 0;

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.bg_image {
    background-image: url(billeder/29258599_10213131670980744_7271700655163572224_o.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
